body {
	background-image: url('background2.jpg');
}
.heading {
	margin: auto;
	width: 50%;
}
h1 {
	font-family: 'Marck Script', cursive;
	margin:auto;
}

.editarea {
  width: 75%;
  height: 800px;
  overflow: scroll;
  position: relative;
  margin: auto;
  padding: 10px;
  border: 3px green;
}
.editarea .docimage {
  position: absolute;
} 

.editarea .transcription word {
  position: absolute;
  font-family: 'Source Code Pro', monospace;
}
