body {
	background-image: url('background2.jpg');
}

.heading {
	margin: auto;
	width: 50%;
}
h1 {
	font-family: 'Marck Script', cursive;
	margin:auto;
	color: white;
	text-align: center;
}

.editarea {
  width: 75%;
  height: 500px;
  overflow: scroll;
  position: relative;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}
.editarea .docimage {
  position: absolute;
} 

.editarea .transcription word {
  position: absolute;
  font-family: 'Source Code Pro', monospace;
}
