body.transcribedesk {
	background-image: url('background2.jpg');
}

.heading {
	margin: auto;
	width: 50%;
}
h1 {
	font-family: 'Marck Script', cursive;
	margin:auto;
	color: white;
	text-align: center;
}

.editarea {
  width: 75%;
  height: 500px;
  overflow: scroll;
  position: relative;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}
.editarea .docimage {
  position: absolute;
} 

.editarea .transcription word {
  position: absolute;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}
.row{
	width:100%;
	overflow:hidden;
}
body.home{
	margin:0;
}
.box{
	width: 50%;
	height:50vh;
	overflow:hidden;
	opacity:0.5;
	background-size: cover;
	background-repeat: no-repeat;
	float:left;
}
.box a{
	line-height: 50vh;
	color:white;
	text-shadow: 4px 4px 10px black;
	font-family: 'Marck Script', cursive;
	margin:auto;
	color: white;
	text-align: center;
	font-size: 250%;
}
.box:hover{
	opacity:1.0;
}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.search{
	background-image: url('search.jpg');
}
.transcribe{
	background-image: url('transcribe.jpg');
}
.about{
	background-image: url('about.jpg');
}
.game{
	background-image: url('game.jpg');
}
